@import "./variables.scss";

body {
  margin: 0;
}

#app {
  position: relative;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: $col-text;
  min-height: 100vh;
  padding: 0;
  background-color: $col-background;

  * {
    box-sizing: border-box;
  }
}

main {
  // padding: 0 10px;
  margin: auto;
  max-width: 600px;
  background-color: white;
  min-height: calc(100vh - 44px);
}

footer {
  position: absolute;
  bottom: 0;
  background-color: $col-primary;
  min-height: 5px;
  width: 100%;
}

button {
  background: $col-primary;
  border: none;
  color: $col-text-inverse;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px 8px;
  font-weight: bold;

  &.lg {
    padding: 10px 20px;
    font-size: 1.1em;
  }

  &.block {
    width: 100%;
    border-radius: 0;
  }

  &.outline {
    background: none;
    border: solid 2px $col-primary;
    color: $col-primary;
  }

  &:hover {
    filter: brightness(60%);
  }

  &:active {
    transform: scale(0.98);
  }
}
