@import "./variables.scss";

body {
  margin: 0;
}

#app {
  position: relative;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: $col-text;
  min-height: 100vh;
  padding: 0;
  background-color: $col-background;

  * {
    box-sizing: border-box;
  }
}

header {
  width: 100%;
  padding: 10px;

  background-color: $col-primary;
  display: flex;
  align-items: center;

  > span {
    font-size: 1.3em;
    color: $col-text-inverse;
    margin-left: auto;
  }
}

main {
  // padding: 0 10px;
  margin: auto;
  max-width: 600px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: $col-primary;
  min-height: 5px;
  width: 100%;
}

button {
  background: $col-primary;
  border: none;
  color: $col-text-inverse;
  border-radius: 2px;
  text-transform: capitalize;
  padding: 5px 8px;
  font-weight: bold;

  &.lg {
    padding: 10px 20px;
    font-size: 1.1em;
  }

  &.outline {
    background: none;
    border: solid 2px $col-primary;
    color: $col-primary;
  }

  &:hover {
    filter: brightness(60%);
  }

  &:active {
    transform: scale(0.98);
  }
}
