/* Colors */
$col-primary: rgb(0, 116, 161);
$col-secondary: rgb(4, 133, 0);
$col-background: rgb(221, 221, 221);
$col-text: #2c3e50;
$col-text-inverse: rgb(255, 255, 255);

$shadow-sm: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px 0px 3px rgba(0, 0, 0, 0.2) ;
